<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fitnessappmanagertest">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FitnessAppManager">
        <activity
            android:name=".ViewAllMemberActivity"
            android:exported="true"
            android:parentActivityName=".WelcomeScreenActivity"
            android:label="My classes" />
        <activity
            android:name=".EnrollingClassActivity"
            android:exported="false"
            android:parentActivityName=".MyClassMember"
            android:label="My classes" />
        <activity
            android:name=".MyClassMember"
            android:exported="false"
            android:parentActivityName=".WelcomeScreenActivity"
            android:label="Back" />
        <activity
            android:name=".MemberScreenActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:label="Back" />
        <activity
            android:name=".AddingClassActivity"
            android:exported="false"
            android:parentActivityName=".MyClassInstructorActivity"
            android:label="My classes" />
        <activity
            android:name=".EditingClassActivity"
            android:exported="false"
            android:parentActivityName=".MyClassInstructorActivity"
            android:label="My classes" />
        <activity
            android:name=".MyClassInstructorActivity"
            android:exported="false"
            android:parentActivityName=".WelcomeScreenActivity"
            android:label="Back" />
        <activity
            android:name=".ViewAllInstructorActivity"
            android:exported="false"
            android:parentActivityName=".WelcomeScreenActivity"
            android:label="My classes" />
        <activity
            android:name=".InstructorScreenActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:label="Back" />
        <activity
            android:name=".WelcomeScreenActivity"
            android:exported="true"
            android:parentActivityName=".MainActivity"
            android:label="Back" />
        <activity
            android:name=".AdminActivity"
            android:exported="true"
            android:parentActivityName=".MainActivity"
            android:label="Back" />
        <activity
            android:name=".SignUpActivity"
            android:exported="true"
            android:parentActivityName=".MainActivity"
            android:label="Sign in" />
        <activity
            android:name=".WelcomeActivity"
            android:exported="true"
            android:theme="@style/WelcomeTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>